---
import Layout from '../../layouts/Layout.astro'
import { formatearFecha } from '../../helpers'

export async function getStaticPaths() {
  const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`
  const respuesta = await fetch(url)
  const { data } = await respuesta.json()
  return data.map((post) => ({
    params: {
      id: post.attributes.url
    },
    props: {
      post: post.attributes
    }
  }))
}

const { titulo, publishedAt, contenido, imagen } = Astro.props.post
---

<Layout
  title={titulo}
  description='Página de instrumentos musicales, guitarras, cursos, blog y más'
>
  <article class='post mt-3'>
    <img src={imagen.data.attributes.url} alt={`Imagen blog ${titulo}`} />
    <div class='contenido'>
      <h3>{titulo}</h3>
      <p class='fecha'>{formatearFecha(publishedAt)}</p>
      <p class='texto'>{contenido}</p>
    </div>
  </article>
</Layout>
<style>
  .post {
    max-width: 80rem;
    margin: 0 auto;
  }
  .contenido {
    padding: 1.5rem;
  }
  .contenido h3 {
    font-weight: 900;
    font-size: 2.8rem;
    margin: 0;
  }
  .fecha {
    font-size: 1.6rem;
    color: var(--primary);
  }
  .texto {
    white-space: pre-wrap;
  }
  .mt-3 {
    margin-top: 3rem;
  }
</style>
