---
export interface Props {
  nombre: string
  descripcion: string
  url: string
  precio: number
  imagen: string
}
const { nombre, descripcion, url, precio, imagen } = Astro.props
---

<div class='guitarra'>
  <img src={imagen} alt={`Imagen guitarra ${nombre}`} />
  <div class='contenido'>
    <h3>{nombre}</h3>
    <p class='descripcion'>{descripcion}</p>
    <p class='precio'>$ {precio}</p>
    <a href={`/guitarras/${url}`} class='enlace'>Ver Producto</a>
  </div>
</div>
<style>
  .guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
  }
  .contenido {
    padding: 1rem;
  }
  .contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
  }
  .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
  }
  .precio {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
  }
  .enlace {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .enlace:hover {
    background-color: var(--primary);
  }

  .formulario {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .formulario label {
    font-size: 2.2rem;
  }
  .formulario select {
    border: 1px solid var(--black);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
  }
  .formulario input[type='submit'] {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 1.4rem;
    background-color: var(--black);
    color: var(--white);
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .formulario input[type='submit']:hover {
    background-color: var(--primary);
    cursor: pointer;
  }
</style>
